[submodule "subprojects/apclientpp/apclientpp"]
	path = subprojects/apclientpp/apclientpp
	url = https://github.com/black-sliver/apclientpp.git
[submodule "subprojects/wswrap/wswrap"]
	path = subprojects/wswrap/wswrap
	url = https://github.com/black-sliver/wswrap.git
